# папка с отчётами
labs_doks/

# временные файлы редакторов
*.log
*.tmp

# системные файлы
.DS_Store
Thumbs.db

# файлы байтового кода
*.class

# скомпилированные файлы в папке bin
bin/

# настройки IDE
.vscode/
.idea/
tasks/something
